<div class="jumbotron" style="background-color: transparent;">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-sm-8 text-right">
                  <h1>Deploywise</h1>
                  <h4>With automated deployment becoming less of a vision and more of a standard, DeployWise enables development teams to securely manage
                    the deployment of software and processes across multiple environments while improving stability, reducing risk, providing auditing
                    capabilities and rapid assembly of repeatable deployment instruction books.</h4>
                  <button type="button" class="btn btn-primary">Read More</button>
                </div>
                <div class="col-sm-4">
                  <img class="img-responsive center-block" alt="" src="/assets/images/clock.png">
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="row">
                <div class="col-sm-8 text-right">
                  <h1>Deploywise</h1>
                  <h4>With automated deployment becoming less of a vision and more of a standard, DeployWise enables development teams to securely manage
                    the deployment of software and processes across multiple environments while improving stability, reducing risk, providing auditing
                    capabilities and rapid assembly of repeatable deployment instruction books.</h4>
                  <button type="button" class="btn btn-primary">Read More</button>
                </div>
                <div class="col-sm-4">
                  <img class="img-responsive center-block" alt="" src="/assets/images/clock.png">
                </div>
              </div>
            </div>
            <div class="item ">
              <div class="row">
                <div class="col-sm-8 text-right">
                  <h1>Deploywise</h1>
                  <h4>With automated deployment becoming less of a vision and more of a standard, DeployWise enables development teams to securely manage
                    the deployment of software and processes across multiple environments while improving stability, reducing risk, providing auditing
                    capabilities and rapid assembly of repeatable deployment instruction books.</h4>
                  <button type="button" class="btn btn-primary">Read More</button>
                </div>
                <div class="col-sm-4">
                  <img class="img-responsive center-block" alt="" src="/assets/images/clock.png">
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span>
          </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>