<div style="background-color: #12212f; color: #fff;">
  <div class="container">
    <footer>
      <div class="well well-lg" style="background-color: transparent; border: 0px;">
        <div class="well well-lg" style="background-color: transparent; border: 0px;">
          <div class="row">
            <div class="col-sm-4">
              <h3>ABOUT US</h3>
              <p>So Long are a London (UK) based software firm specialising in the development of bespoke software solutions and IT consultancy Our in-house
                software developers have over 10 years experience in delivering software projects.</p>
              <p>
                <a href="http://jigsaw.w3.org/css-validator/check/referer"> <img style="border: 0; width: 88px; height: 31px"
                  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!">
                </a>
              </p>
            </div>
            <div class="col-sm-4">
              <h3>OUR CONTACTS</h3>
              <ul class="list-group">
                <li class="list-group-item" style="background-color: #12212f;"><span><img src="/assets/images/soc1.png"></span> Follow us on Twitter</li>
                <li class="list-group-item" style="background-color: #12212f;"><span><img src="/assets/images/soc2.png"></span> Join us on Facebook</li>
                <li class="list-group-item" style="background-color: #12212f;"><span><img src="/assets/images/soc3.png"></span> Subscribe to our blog</li>
                <li class="list-group-item" style="background-color: #12212f;"><span><img src="/assets/images/soc4.png"></span> Contact Us</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h3>COPYRIGHT</h3>
              <strong>SO LONG</strong> &copy; 2004-2014 | <a href="/privacy">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>