<div class="well well-sm">
  <div class="row">
    <div class="col-sm-4  col-sm-offset-1">
      <p>Our quarterly news newsletter provides information about discounts, offers, and any changes to our services.</p>
    </div>
    <div class="col-sm-2">
      <img class="img-responsive center-block img-circle" src="/assets/images/news_letter.png">
    </div>
    <div class="col-sm-4">
      <div class="well-lg">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter your email address"> <span class="input-group-btn">
            <button class="btn btn-default" type="button">Subscribe</button>
          </span>
        </div>
      </div>
      <!-- /input-group -->
    </div>
  </div>
</div>