<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Client Testimonials</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div id="client-testimonial" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active text-center">
              <p>...was promptly followed by the delivery of beautiful clean code which we have even been able to extend thanks to the clear documentation
                provided, thank you again...</p>
              <strong>R. Bacon, @@KBBPSystems</strong>
            </div>
            <div class="item text-center">
              <p>...robust, well tested, proper architecture both in terms of the model required and security aspects, which has resulted in our production
                environment...</p>
              <strong>S. Aurolleta, @@saurolleta</strong>
            </div>
            <div class="item text-center">
              <p>...with absolute transparency from start to finish and daily feedback on project progress, clearly avid fans of scrum development with this
                product...</p>
              <strong>V. Denker, @@vdenker</strong>
            </div>
          </div>
          <!-- Controls -->
          <a class="left carousel-control" href="#client-testimonial" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span>
          </a> <a class="right carousel-control" href="#client-testimonial" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>