<div class="row text-center">
  <div class="col-sm-4">
    <div class="well">
      <img class="img-responsive center-block" alt="" src="/assets/images/offer1.png">
      <h2>OUR APPROACH</h2>
      <p>By using the latest agile development methodologies including scrum and test driven development, So Long is able to consistently deliver superior
        results for our clients.</p>
      <button type="button" class="btn btn-primary">Read More</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <img class="img-responsive center-block" alt="" src="/assets/images/offer2.png">
      <h2>THE TEAM</h2>
      <p>With over 10 years of experience within software development, our team of professionally accredited chartered engineers will deliver quality
        solution without compromising your time-to-market.</p>
      <button type="button" class="btn btn-primary">Read More</button>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="well">
      <img class="img-responsive center-block" alt="" src="/assets/images/offer3.png">
      <h2>OUR SERVICES</h2>
      <p>We offer a broad range of services which cover the development of first class bespoke software products, and consultancy services on all aspects of
        the software life cycle.</p>
      <button type="button" class="btn btn-primary">Read More</button>
    </div>
  </div>
</div>