<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title text-center">What's New</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-3">
        
            <button type="button" class="btn btn-lg btn-primary btn-block">
              <span class="glyphicon glyphicon-th"></span> Projects
            </button>
         
            <button type="button" class="btn btn-lg btn-primary btn-block">
              <span class="glyphicon glyphicon-calendar"></span> Dev Blog
            </button>
         
            <button type="button" class="btn btn-lg btn-primary btn-block">
              <span class="glyphicon glyphicon-thumbs-up"></span> Twitter
            </button>
         
        
      </div>
      <div class="col-sm-3  text-center">
        <img class="img-responsive img-rounded center-block" alt="" src="/assets/images/dupetf.png">
        <h3>DUPE.TF</h3>
        <p>dupe.tf showcases a webapp used by members of a 1 million strong Team Fortress 2 community.</p>
      </div>
      <div class="col-sm-3  text-center">
        <img class="img-responsive img-rounded center-block" alt="" src="/assets/images/defendmannco.png">
        <h3>DEFENDMANN.CO</h3>
        <p>defendmann.co is a matchmaking service used by 1000s of Team Fortress 2 players.</p>
      </div>
      <div class="col-sm-3  text-center">
        <img class="img-responsive img-rounded center-block" alt="" src="/assets/images/1page_img1.jpg">
        <h3>DEPLOYWISE</h3>
        <p>Deploywise is an in-house developed application which facilitates consistent cross-environment deployments.</p>
      </div>
    </div>
  </div>
</div>