
<div style="background-image: url(/assets/images/block1.jpg);">
  <div class="container">
    <div navigation />
  </div>
  <div class="container">
    <div carousel />
  </div>
</div>
<div>
  <div class="container">
    <div class="well-lg">
      <div class="row text-center">
        <div class="col-sm-9 col-sm-offset-2">
          <h2>So Long specializes in the consultancy and development of resilient, secure, scalable, software systems.</h2>
        </div>
      </div>
    </div>
    <div three-panel></div>
    <hr />
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">Client Testimonials</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <div id="client-testimonial" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active text-center">
                  <p>...was promptly followed by the delivery of beautiful clean code which we have even been able to extend thanks to the clear
                    documentation provided, thank you again...</p>
                  <strong>R. Bacon, @@KBBPSystems</strong>
                </div>
                <div class="item text-center">
                  <p>...robust, well tested, proper architecture both in terms of the model required and security aspects, which has resulted in our
                    production environment...</p>
                  <strong>S. Aurolleta, @@saurolleta</strong>
                </div>
                <div class="item text-center">
                  <p>...with absolute transparency from start to finish and daily feedback on project progress, clearly avid fans of scrum development with
                    this product...</p>
                  <strong>V. Denker, @@vdenker</strong>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#client-testimonial" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left"></span>
              </a> <a class="right carousel-control" href="#client-testimonial" data-slide="next"> <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center">What's New</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-3">
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-primary">
                  <span class="glyphicon glyphicon-th"></span> Projects
                </button>
              </div>
            </div>
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-primary">
                  <span class="glyphicon glyphicon-calendar"></span> Dev Blog
                </button>
              </div>
            </div>
            <div class="btn-group btn-group-justified">
              <div class="btn-group">
                <button type="button" class="btn btn-lg btn-primary">
                  <span class="glyphicon glyphicon-thumbs-up"></span> Twitter
                </button>
              </div>
            </div>
          </div>
          <div class="col-sm-3  text-center">
            <img class="img-responsive img-rounded center-block" alt="" src="/assets/images/dupetf.png">
            <h3>DUPE.TF</h3>
            <p>dupe.tf showcases a webapp used by members of a 1 million strong Team Fortress 2 community.</p>
          </div>
          <div class="col-sm-3  text-center">
            <img class="img-responsive img-rounded center-block" alt="" src="/assets/images/defendmannco.png">
            <h3>DEFENDMANN.CO</h3>
            <p>defendmann.co is a matchmaking service used by 1000s of Team Fortress 2 players.</p>
          </div>
          <div class="col-sm-3  text-center">
            <img class="img-responsive img-rounded center-block" alt="" src="/assets/images/1page_img1.jpg">
            <h3>DEPLOYWISE</h3>
            <p>Deploywise is an in-house developed application which facilitates consistent cross-environment deployments.</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="well well-sm">
      <div class="row">
        <div class="col-sm-4  col-sm-offset-1">
          <p>Our quarterly news newsletter provides information about discounts, offers, and any changes to our services.</p>
        </div>
        <div class="col-sm-2">
          <img class="img-responsive center-block img-circle" src="/assets/images/news_letter.png">
        </div>
        <div class="col-sm-4">
          <div class="well-lg">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Enter your email address"> <span class="input-group-btn">
                <button class="btn btn-default" type="button">Subscribe</button>
              </span>
            </div>
          </div>
          <!-- /input-group -->
        </div>
      </div>
    </div>
  </div>
</div>
<div style="background-color: #12212f; color: #fff;">
  <div class="container">
    <footer>
      <div class="well well-lg" style="background-color: transparent; border: 0px;">
        <div class="well well-lg" style="background-color: transparent; border: 0px;">
          <div class="row">
            <div class="col-sm-4">
              <h3>ABOUT US</h3>
              <p>So Long are a London (UK) based software firm specialising in the development of bespoke software solutions and IT consultancy Our in-house
                software developers have over 10 years experience in delivering software projects.</p>
              <p>
                <a href="http://jigsaw.w3.org/css-validator/check/referer"> <img style="border: 0; width: 88px; height: 31px"
                  src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!">
                </a>
              </p>
            </div>
            <div class="col-sm-4">
              <h3>OUR CONTACTS</h3>
              <ul class="list-group">
                <li class="list-group-item" style="background-color: #12212f;"><span><img src="/assets/images/soc1.png"></span> Follow us on Twitter</li>
                <li class="list-group-item" style="background-color: #12212f;"><span><img src="/assets/images/soc2.png"></span> Join us on Facebook</li>
                <li class="list-group-item" style="background-color: #12212f;"><span><img src="/assets/images/soc3.png"></span> Subscribe to our blog</li>
                <li class="list-group-item" style="background-color: #12212f;"><span><img src="/assets/images/soc4.png"></span> Contact Us</li>
              </ul>
            </div>
            <div class="col-sm-4">
              <h3>COPYRIGHT</h3>
              <strong>SO LONG</strong> © 2004-2014 | <a href="/privacy">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>