
<div style="background-image: url(/assets/images/block1.jpg);">
  <div class="container">
    <div data-navigation></div>
  </div>
  <div class="container">
    <div data-carousel></div>
  </div>
</div>
<div>
  <div class="container">
    <div data-headline></div>
    <div data-three-panel></div>
    <hr />
    <div data-testemonials></div>
    <hr />
    <div data-whats-new></div>
    <hr />
    <div data-newsletter></div>
  </div>
</div>
<div data-footer></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>