<div data-header></div>
<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <div class="row">
    <div class="col-md-9 col-md-offset-1">
      <h2 style="border-bottom: 1px solid #e5e5e5;">DEVELOPMENT</h2>
      <h4>Our Technology Stack</h4>
      <p>So Long prides itself on being ahead of the curve with technology, balancing the need to use cutting edge libraries with stability and well tested
        dependencies.</p>
      <p>The rapid evolutionary nature of technology provides the mandate for our developers to stay current. A list of core technologies which lend themselves to the
        foundation of our development stack can be seen below.</p>
      <ul class="list-group">
        <li class="list-group-item"><h4 class="list-group-item-heading"><span class="glyphicon glyphicon-wrench"></span> Core Development</h4> <p class="list-group-item-text">Java, Spring</p></li>
        <li class="list-group-item"><h4 class="list-group-item-heading"><span class="glyphicon glyphicon-globe"></span> Web Application Development</h4><p class="list-group-item-text">Play Framework, HTML5, AngularJS, Bootstrap, JSON, Javascript, CSS</p></li>
        <li class="list-group-item"><h4 class="list-group-item-heading"><span class="glyphicon glyphicon-eye-open"></span> Build, Continuous Integration, Tracking & Quality Metrics</h4> <p class="list-group-item-text">Vagrant, Puppet, Maven, Teamcity, Jira, Clover</p></li>
        <li class="list-group-item"><h4 class="list-group-item-heading"><span class="glyphicon glyphicon-transfer"></span> Messaging</h4><p class="list-group-item-text">ActiveMQ, Protobuf, Messagepack, </p></li>
        <li class="list-group-item"><h4 class="list-group-item-heading"><span class="glyphicon glyphicon-cloud-upload"></span> Persistence</h4><p class="list-group-item-text">SOLR, ElasticSearch, MySQL, Sybase, DB2</p></li>
        <li class="list-group-item"><h4 class="list-group-item-heading"><span class="glyphicon glyphicon-asterisk"></span> Distributed Caching</h4><p class="list-group-item-text">Memcache, EHCache, JGroups JBoss Cache</p></li>
        <li class="list-group-item"><h4 class="list-group-item-heading"><span class="glyphicon glyphicon-dashboard"></span> Analytics</h4><p class="list-group-item-text">Qlikview</p></li>
        <li class="list-group-item"><h4 class="list-group-item-heading"><span class="glyphicon glyphicon-road"></span> Legacy & Exotic Technologies</h4> <p class="list-group-item-text">Prolog, Delphi, Python, C++, C, Qt, PHP, Code Igniter, XML, XHTML, Ant, Ivy,</p></li>
      </ul>
    </div>
  </div>
</div>
<div data-footer></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>