<div data-header></div>
<div class="container" style="padding-top: 80px; padding-bottom: 80px;">
  <div class="row">
    
    <div class="col-md-12">
      <h4 style="border-bottom: 1px solid #e5e5e5;">PRODUCT DOWNLOADS</h4>
      <div class="list-group">
        <a class="list-group-item">
          <div class="btn-group btn-group-xs pull-right">
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-info-sign"></span> Info
            </button>
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-edit"></span> Github
            </button>
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-cloud-download"></span> Download
            </button>
          </div>
          <h4 class="list-group-item-heading">Dupe.tf</h4>
          <p class="list-group-item-text">Source code for the dupe.tf website.</p>
        </a> <a class="list-group-item"><div class="btn-group btn-group-xs pull-right">
          <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-info-sign"></span> Info
            </button>
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-edit"></span> Github
            </button>
            <button type="button" class="btn btn-primary">
              <span class="glyphicon glyphicon-cloud-download"></span> Download
            </button>
          </div>
          <h4 class="list-group-item-heading">Drabber (Windows Installer)</h4>
          <p class="list-group-item-text">Drum tabbing software formerly known as Tabit and published by Dark Days Software.</p> </a>
      </div>
    </div>
  </div>
</div>
<div data-footer></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>