<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>So Long</title>
<!-- Bootstrap -->
<link rel="stylesheet" href="/assets/css/bootstrap.css">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <div data-ng-view></div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="/assets/lib/angular/angular.js"></script>
  <script src="/assets/lib/angular/angular-route.js"></script>
  <script src="/assets/js/app.js"></script>
  <script src="/assets/js/services.js"></script>
  <script src="/assets/js/controllers.js"></script>
  <script src="/assets/js/filters.js"></script>
  <script src="/assets/js/header.js"></script>
  <script src="/assets/js/contact-form.js"></script>
  <script src="/assets/js/directives.js"></script>
  <script src="/assets/js/delete.js"></script>
  <script src="/assets/js/testemonials.js"></script>
  <script src="/assets/js/dialog.js"></script>
  <script src="/assets/js/footer.js"></script>
  <script src="/assets/js/whats-new.js"></script>
  <script src="/assets/js/newsletter.js"></script>
  <script src="/assets/js/headline.js"></script>
  <script src="/assets/js/item.js"></script>
  <script src="/assets/js/nav.js"></script>
  <script src="/assets/js/carousel.js"></script>
  <script src="/assets/js/three-panel.js"></script>
</body>
</html>